<% layout('layout/boilerplate') %>

<div class="row"><div class="col-6 offset-3">
<div class="card">
    <img class="card-img-top" src="<%=campground.image%>">
<div class="body">
<%= campground.title %>

<%= campground.description %>

</div>

<%= campground.location %>
<%= campground.price %>
<div class="body">
<a class="card-link btn btn-info" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
<form method="post" action="/campground/<%= campground.id %>?_method=DELETE">
    <input type="hidden" name="id" value="<%= campground.id %>">
<button class="card-link btn btn-danger">Delete</button>
</form>
</div>
<h2>Leave a review</h2>
<form action="<%= campground.id %>/reviews" method="post" class="mb-3">
    <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
    </div>
    <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-success">Send</button>
</form>
<div class="card-footer text-muted">
</div>

</div>
</div></div>
